
<style>
 
    .herbg{
        background-size: cover;
      padding-bottom: 20%;
        border-radius: 45px;
        background-image: url("https://img.freepik.com/free-vector/gradient-white-monochrome-background_23-2149017048.jpg?w=1380&t=st=1723629991~exp=1723630591~hmac=43a1b071121a7133974e5c630b8d0d6b566f49b31fdedabf57111087b8ed793d");
    }
    header{
       
        border-radius: 50px;
    }
</style>

<div class="herbg">
    <div  class="px-4 py-5 my-5 text-center mhero">
        <img class="d-block mx-auto mb-4"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_dVDjHxD2W0bWQnla5AV-YAU0VKjWqJEfLg&s" alt=""
            width="72" height="">
        <h1 class="display-5 fw-bold"> We're Sorry</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Alpha SL not Availble for your country</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <!-- <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button> -->
            </div>
        </div>
    </div>
</div>