<style>
  body{
    background-image: url("https://img.freepik.com/free-vector/black-golden-marble-background_52683-64370.jpg?t=st=1723715655~exp=1723719255~hmac=83456e23a2c5449b28cda8bdc17424d213ed205aa19c3c256c088ee8f26fc665&w=1380");
    border-radius: 46px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(10.2px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: rgb(0, 0, 0);
 
  }
  .pricing-content {
    position: relative;
   
  }

  .pricing_design {
    position: relative;
    margin: 0px 15px;
  }

  .pricing_design .single-pricing {
    background: #554c86;
    padding: 60px 40px;
    border-radius: 30px;
    box-shadow: 0 10px 40px -10px rgba(0, 64, 128, .2);
    position: relative;
    z-index: 1;
  }

  .pricing_design .single-pricing:before {
    content: "";
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 18px 18px 190px 18px;
    border: 1px solid #eee;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .price-head {}

  .price-head h2 {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 600;
  }

  .price-head h1 {
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  .price-head span {}

  .single-pricing ul {
    list-style: none;
    margin-top: 30px;
  }

  .single-pricing ul li {
    line-height: 36px;
  }

  .single-pricing ul li i {
    background: #161616;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    font-size: 11px;
    text-align: center;
    line-height: 20px;
    margin-right: 6px;
  }

  .pricing-price {}

  .price_btn {
    background: #554c86;
    padding: 10px 30px;
    color: #fff;
    display: inline-block;
    margin-top: 20px;
    border-radius: 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .price_btn:hover {
    background: #0aa1d6;
  }

  a {
    text-decoration: none;
  }

  .section-title {
    margin-bottom: 60px;
  }

  .text-center {
    text-align: center !important;
  }

  .section-title h2 {
    font-size: 45px;
    font-weight: 600;
    margin-top: 0;
    position: relative;
    text-transform: capitalize;
  }
</style>

<section id="pricing" class="pricing-content section-padding">
  <div class="container">
    <div class="section-title text-center text-light">
      <h3>We're Developing</h3>
      <h1>SOLUTIONS</h1>
    </div>
    <center>
    <div class="row text-center">
      <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s"
        data-wow-offset="0"
        style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
        <div class="pricing_design">
          <div class="single-pricing">
            <div class="price-head">
              <img width="80px" src="/img/website_4179559.png">
              <h2>Website Designing</h2>
              <p>Creating a static website involves developing a website composed of pre-built, static files, typically
                HTML, CSS, and JavaScript, that are delivered directly to a user's web browser without the need for
                server-side processing.
                Static websites are ideal for displaying content that doesn't change frequently, such as portfolios,
                blogs, landing pages, and small business websites.</p>
            </div>
            <ul>
              <li>Fast Performance:</li>
              <li>Easy Deployment</li>
              <li>SEO Friendly</li>

            </ul>
            <div class="pricing-price">

            </div>
            <!-- <a href="#" class="price_btn">Order Now</a> -->
          </div>
        </div>
      </div><!--- END COL -->
      <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s"
        data-wow-offset="0"
        style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
        <div class="pricing_design">
          <div class="single-pricing">
            <div class="price-head">
              <img width="80px" src="/img/appiconpr.png">
              <h2>Software Devlopment</h2>
              <!-- <h1 class="price">$29</h1>
              <span>/Monthly</span> -->
              <p>Are you ready to elevate your business operations to the next level? Our cutting-edge management
                systems are designed to transform the way you manage your business. We specialize in developing modern,
                intuitive, and powerful management solutions that cater to the unique needs of your organization. We Devloping</p>
            </div>
            <ul>
              <li><b>Inventory Mangment</b></li>
              <li><b>Fixed assest Mangment System</b> </li>
              <li><b>Gym/Student Mangment systems</b></li>
            </ul>
            <div class="pricing-price">

            </div>
            <!-- <a href="#" class="price_btn">Order Now</a> -->
          </div>
        </div>
      </div><!--- END COL -->
   <!--- END COL -->
    </div><!--- END ROW -->
  </center>
  
  </div><!--- END CONTAINER -->
</section>